body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    box-sizing: border-box;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    line-height: 25px;
}




.subtitulo{

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.subtitulo::after{
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #000;
    margin: 15px auto;
    margin-bottom: 40px;

}




.subtitulo-interno{

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    
  
}

.subtitulo-interno::after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #000;
    margin: 8px 0 ;
    margin-bottom: 30px;

}


.btn{

    border: 5px solid #fff;
    padding: 10px 50px;
    color: azure;
    letter-spacing: .1em;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 16px;

}


.btn:hover{


    background-color: white;
    color: #000;

}

.header {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: aliceblue;
    z-index: 1;
    top: 0;
   
}


.header_menu {

    text-align: right;

}


.header_menu ul li {

    display: inline-block;
    margin-left: 20px;
    margin-top: 35px;
}

.header_menu ul li a {

    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    letter-spacing: .1em;
    font-size: 1.2em;
    padding: 12px;
    text-decoration: none;
}

.header_menu ul li a:hover{

    color: black;


}


.logo {
    margin-top: 5px;
    width: 40%;
    background-color: white;
    border-radius: 100%;

}


.banner{
   
    width: 100%;
    height: 400px;
    background-image: url("../img/banner3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 100px;
    padding: 60px;
    text-align: center;
}


.banner h1{
    font-size: 48px;
    color: #ffff;
    font-weight: bold;
    text-transform: uppercase;
}


.banner_interno{
    width: 100%;
    margin-top: 150px;
    height: 200px;
}



.banner_interno{
    
  font-weight: bold;
  font-size: 40px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 20px;
  text-align: center;
  color: #fffff0;
}

.banner_interno h1::after{

    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #fff;
    margin: 15px auto;
    margin-bottom: 40px;



}

.block{
    max-width: 400px;
    color: #fff;
    margin: 0 auto;
    font-style: italic;
    margin-bottom: 40px;
  
}



.block p::before, .block p::after{

    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #fff;
    margin: 15px auto 15px auto;


}

.block cite {

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: .1em;
   
}

.produto{
    padding: 60px 0;
    text-align: center;
}


.produto_lista li{

    background-color: #03adad;
    text-align: center;
    box-shadow: 0 0 15px 3px rgb(0 0 0 / 10%);
    transition: box-shadow .2s ease;

}


.produto_lista li h3{

  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 20px;
  
}



.produto_lista li h3::after{

    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 2px auto;


  }

.produto_lista li p{

    padding: 10px 20px 20px 20px;

}


.produtos_icone{
    background-color: #fff;
    padding: 10px;
    text-align: center;
   
   
}


.btn-preto{

    border: 5px solid #000;
    padding: 10px 50px;
    color: #000;
    letter-spacing: .1em;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 16px;
    box-shadow: 0 0 15px 3px rgb(0 0 0 / 10%);
    transition: box-shadow .2s ease;


}

.call{
    clear: both;
    padding-top:40px;
    text-align: center;

   
}

.call p {

    margin-bottom: 30px;
}


.portifolio{
   background-color: #162527;
   width: 100%;
   padding: 60px 0;
   
}


.portifolio .subtitulo{
    color:#fff;
}



.portifolio .subtitulo::after{
    background-color:#fff;
    content: "";
    display: block;
    width: 130px;
    height: 3px;
}


.item-lista li:last-child{

    margin-top: 20px;
    margin-bottom: 5px;

}


.portifolio .call p{
    color: #fff;
    margin-top: 10px;
}

.portifolio .call .btn-preto{

    color: #fff;
    border: 5px solid #fff;


}



.card{
    width: 100%;

}


.qualidade{

    padding: 50px 0;

}

.qualidade li{

text-align: center;
    
}


.qualidade::after{

   content: "";
   width: 634px;
   height: 83px;
   display: block;
   background: url("../img/linhas.svg") no-repeat center;
   position: absolute;
   top: 290px;
   left: 165px;
    z-index: 1;
}



.qualidade img {
    width: 20%;
    margin: 0 auto;
    display: block;

}
  

.qualidade li h3{

    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 20px;
    margin:  auto;
  }

  .qualidade li h3::after{
    background-color:#03adad;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 10px auto;
}


  
.social-img{
 
    width: 50px;
    color: aliceblue;
   

}


.foter{

    width: 100%;
    background-color: #162527;
    color: #fff;
    padding: 25px;

}


.foter h3{
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: .1em;
}


.foter h3::after{

    background-color:#fff;
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 6px 0px 12px 0px;
}

.footer-historia{

    padding-right: 90px;
}


.footer-contato ul li{

    font-size: 20px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 8px;

}


.footer-midia ul li{
  
    display: inline-block;
    margin-right: 10px;
    
}


.copy{

    width: 100%;
    padding: 20px;
    background-color: aliceblue;

}


.quebra{

    width: 100%;
    height: 300px;
    background-image: url(../img/banner-footer.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}


.quebra .quote-externa{

    max-width: 400px;

}


